table {
    text-align: center;
}

.table-bordered thread {
    color: #ffffff;
    background-color: #6c5ce7;
}

th {
    text-align: center;
}

.right_col #text {
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-control.is-invalid~.invalid-feedback {
    display: block;
}